/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set the background color for the entire web page */
body {
    background-color: #d9dcd6;
}

/* Style the header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Display the header text in one line */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* Style the list items in the navigation bar */
.header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}*/

/* Position the list items on the navigation bar */
ul {
  text-align: right;
  color: #ffffff;
}

/* Display the list items in a line */
li {
 list-style-type: none;
  /*font-size: 15px;*/
  display: inline-block;
  margin-left: 25px;
} 

/* Style the list items */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Style the paragraph text */
p {
    font-size: 16px;
}

/* Style the background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Style and position the section's image */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Style and position the section's image */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Style the content on all the sections */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Style the sidebar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Style the sidebar sub-section */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Style the sidebar sub-section */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Style the sidebar sub-section */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Style the sidebar subtitles */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Style the sidebar subtitles */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Style the sidebar subtitles */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Style the sidebar images */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Style the sidebar images */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Style the sidebar images */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Style the sub-section on the content */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    /*float: left;
    margin-right: 25px;
    text-align: left;
    display: inline-block;*/
}

/* Style the sub-section on the content */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    /*float: right;
    margin-left: 25px;
    text-align: left;
    display: inline-block;*/
}

/* Style the sub-section on the content */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    /*float: left;
    margin-right: 25px;
    text-align: left;
    display: inline-block;*/
}

/* Style the sub-section image */
.search-engine-optimization img {
    max-height: 200px;
}

/* Style the sub-section image */
.online-reputation-management img {
    max-height: 200px;
}

/* Style the sub-section image */
.social-media-marketing img {
    max-height: 200px;
}

/* Style the sub-section titles */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Style the sub-section titles */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Style the sub-section titles */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Style the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Style the footer titles */
.footer h2 {
    font-size: 20px;
}
